#block,
.profile-page{
    width: 300px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 6px;
}

.cat,
.theme{
	padding:6px;
	margin: 0 10px 0 10px;
	border: 1px solid grey;
	border-bottom:hidden;
	background:#F0F8FF;
}

.cat:last-child,
.theme:last-child{
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}

.cat:first-child
.theme:first-child{
	margin-top: 10px;
}

.descrip{
	font-size:11px;
	margin:0;
	padding-left: 8px;
	color:#808080;
}

.cat-name,
.theme-name{
	margin: 0px;
}

.cat-link{
	font-size:18px;
	text-decoration: none;
	color:#006;
}

.list-cat,
.list-theme{
	border: 1px solid grey;
	background:#bde0ff;
}

.list-name{
	font-size:24px;
	color:white;
	padding-left:5px;
	background: linear-gradient(to top, navy, blue);
}

.table{
	box-shadow: 0 0 10px grey;
}
	